@model IEnumerable<BOL.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.c_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_name)
        </th>
        <th>
            @Html.DisplayName("Branch")
        </th>
        <th>
            @Html.DisplayName("photo")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.c_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.c_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.b_name)
            </td>
            <td>
                <img class="img-circle" src="~/@item.c_photo" width="100" height="50" onerror="imgError(this);" />
             @*   @Html.DisplayFor(modelItem => item.c_photo)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.c_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.c_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.c_id })
            </td>
        </tr>
    }

</table>
